{% assign items = include.items %}

<ul>
{% for item in items %}
  {% assign item_url = item | prepend:"/chapters/" | append:".html" %}

  {% if page.url == item_url %}
    {% assign class = "current" %}
  {% else %}
    {% assign class = "" %}
  {% endif %}

  {% for p in site.chapters %}
    {% if p.url == item_url %}
      {% if p.url == page.url %}
        <li class="current"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
      {% else %}
        <li><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}

{% endfor %}
</ul>