<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

<body id="start">

  {% include browser-upgrade.html %}

  <header class="header">
    <h1 class="title">
      <a href="{{ site.baseurl }}/">{{ site.title }} <span>Hybrid Media Form Concept</span></a>
    </h1>
  </header>

  {% if page.cover %}
    <div class="cover" style="background-image: url('../covers/{{ page.cover }}');">
    </div>
  {% endif %}

  <article class="content">
    <div class="aisle">
      <div class="body typo-m">
        <h2>{{ page.title }} <span>{{ page.intro }}</span></h2>
        {{ content }}
      </div>

      {% include chapters-table-of-content.html %}

      {% include prev-next.html %}

    </div>
  </article>

{% include footer.html %}

{% include scripts.html %}

</body>

</html>