<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

<body id="start">

	{% include browser-upgrade.html %}

	<header class="header">
		<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
		<div>{{ site.banana }} A new hybrid media form</div>
	</header>
	<article class="content">
		<div class="body typo-m">
			<h1>{{ page.title }}</h1>
			<!--<aside class="toc typo-s">
				<ul>
					<li><a href="#">This is a title</a></li>
					<li>cdscds</li>
					<ul>
						<li>cdscds</li>
						<li>cdscdscdscds</li>
					</ul>
				</ul>
			</aside>-->
			{{ content }}
		</div>
		<aside class="toc">
			<ul>
				{% for item in site.chapters | sort: 'date' %}
					<li>
						<a href="{{ item.url }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</aside>
	</article>

{% include footer.html %}

{% include scripts.html %}

</body>

</html>