<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

<body id="start">

  {% include browser-upgrade.html %}

  <header class="header">
      <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.title }}</a> <span>Hybrid Media Form Concept</span></h1>
      <div class="flag">
        <span class="icon">
          <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </span>
      </div>
  </header>

  {% if page.cover %}
    <div class="cover" style="background-image: url('../covers/{{ page.cover }}');">
    </div>
  {% endif %}

  <article class="content">
    <div class="body typo-m">
      <h2>{{ page.title }}</h2>
      {{ content }}
    </div>
  </article>

{% include footer.html %}

{% include scripts.html %}

</body>

</html>